<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
</head>
<body>
<div align="center">
    <h1>Корзина</h1>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Товар</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Итого</th>
            <th>Email</th>
            <th>Удалить из корзины</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="carts : ${cart.getProducts()}">
                <!--            <td th:text="${carts.id}">auto ID</td>-->
                <td th:text="${carts.getName()}">Товар</td>
                <td th:text="${carts.getPrice()}">Цена</td>
                <td text="">Количество</td>
                <td text="">Итого</td>
                <td th:text="${cart.email}">Email покупателя</td>

                <td>
                    <form method="post" action="#" th:action="@{'/delete_cart/' + ${carts.getId()}} ">
                    <input type="hidden" name="cart" th:value="${cart}">
                    <button type="submit" name="submit" value="value" class="link-button">Удалить товар</button>
                    </form>

                </td>
            </tr>
        </tbody>
    </table>
    <div th:if="${cart.getProducts().isEmpty()}">
        <h3>Корзина Пустая</h3>
    </div>
    <div>
           <h3 th:utext = "${sum}"  >  </h3>
    </div>

    <a href="/">Главная страница</a>
    <a href="/shop">Магазин</a>

</div>
</body>
</html>