<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Регистрация</title>
</head>

<body>
<div>
    <form action="#" th:action="@{/registration}" th:object="${userForm}" method="post">
        <h2>Регистрация</h2>
        <div>
            <input type="text" placeholder="Login" th:field="*{username}" required>
            <errors  th:utext="${usernameError}">Ошибка логина></errors>
        </div>
        <div>
            <input type="text" placeholder="Email" th:field="*{email}" required>
            <errors  th:utext="${emailError}">Ошибка логина></errors>
        </div>
        <div>
            <input type="password" placeholder="Password" th:field="*{password}" required>
        </div>
        <div>
            <input type="password" placeholder="Password Confirm" th:field="*{passwordConfirm}" required>
            <errors  th:utext="${passwordError}" >Validation error ></errors>

        </div>
        <button type="submit">Зарегистрироваться</button>
    </form>
    <a href="/">Главная</a>
</div>
</body>
</html>